{%extends 'base.html'%} {%block contentD%}

<!-- Section 1 Start -->
<div class="bg-light py-4">
  <div class="container py-4">
    <div class="row h-100 align-items-center">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="/static/assets/about1.svg" alt="" class="img-fluid" />
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold">What Is Hoax News?</h1>
        <p class="lead text-muted mb-0">
          At its core, we are defining “fake news” as those news stories that
          are false: the story itself is fabricated, with no verifiable facts,
          sources or quotes. Sometimes these stories may be propaganda that is
          intentionally designed to mislead the reader.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Section 1 End -->

<div class="bg-white py-5">
  <div class="container py-5">
    <!-- Section 2 Start -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-person-circle-question fa-2x mb-3 icon"></i>
        <h2 class="font-weight-light">Where does it come from?</h2>
        <p class="font-italic text-muted mb-4"></p>
        <ol>
          <li>From somebody who want to influence political beliefs.</li>
          <li>Untrained journalists, and many more.</li>
          <li>
            From someone who wants to make money, and doesn't care about the
            content.
          </li>
        </ol>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-lg btn-more"
          >Learn More</a
        >
      </div>
      <!-- Section 2 End -->

      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="/static/assets/News-bro.svg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
    </div>

    <!-- Section 3 Start -->
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto">
        <img
          src="/static/assets/News-amico.svg"
          alt=""
          class="img-fluid mb-4 mb-lg-0"
        />
      </div>
      <div class="col-lg-6">
        <i class="fa fa-leaf fa-2x mb-3 icon"></i>
        <h2 class="font-weight-light">
          What can I do about <span class="hoax-text">Hoax News</span>
        </h2>
        <p class="font-italic text-muted mb-4">
          Think critically. Use the strategies on these pages to evaluate the
          likely accuracy of information. Think twice. If you have any doubt, do
          NOT share the information.
        </p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm btn-more"
          >Learn More</a
        >
      </div>
    </div>
    <!-- Section 3 End -->
  </div>
</div>

<!-- Section 4 (Out Team) Start -->
<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-6 font-weight-light fw-bold">Team Wakey-Wakey</h2>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Thoriq AS</h5>
          <span class="small text-uppercase text-muted">Front-End Dev</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->

      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Ahmad Jalu Fahreza</h5>
          <span class="small text-uppercase text-muted">Back-End Dev</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Umar Sabirin</h5>
          <span class="small text-uppercase text-muted">Back-End Dev</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Jumadil</h5>
          <span class="small text-uppercase text-muted">Back-End Dev</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
    </div>

    <div class="row text-center">
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Ichan Takwa</h5>
          <span class="small text-uppercase text-muted">ML Enginner</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->

      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Ihlasul Mufti</h5>
          <span class="small text-uppercase text-muted">ML Enginner</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Bob Chrismansyah</h5>
          <span class="small text-uppercase text-muted">ML Enginner</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
      <!-- Team Item Start -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Fadhil Risandi</h5>
          <span class="small text-uppercase text-muted">Team Leader</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Team Item End -->
    </div>
  </div>
</div>
<!-- Section 4 (Out Team) Start -->

<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">
      &copy; Copyrights
      <a
        href="https://github.com/Muhthoriqas/Hoax-News-Detection"
        class="text-decoration-none copyright"
        >Wakey-Wakey Team</a
      >
      | All rights reserved.
    </p>
  </div>
</footer>

{%endblock contentD%}
