{%extends 'base.html'%}

{%block contentC%}
<div id="container" class="container" style="padding-top:2%;">
  <h1 class="mb-1" style="text-align:center;"><b> News Feed</b></h1>
  <p class="lead mb-5" style="text-align:center;">Here are some examples of true and hoax news around the world</p>
     <!-- <span style="color:  #606C38"> NewsAPI </span> -->
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col">
      <div class="card h-100" >
        <img src='/static/assets/news1.jpeg' class="card-img-top" alt="..."  >
        <div class="card-body">
          <h5 class="card-title"><a  class="text-dark text-decoration-none" href="https://www.cnnindonesia.com/nasional/20221126223106-20-879200/14-korban-hilang-gempa-cianjur-masih-dalam-pencarian" target="_blank">14 Missing Cianjur Earthquake Victims Still Searching</a> </h5>
          <p class="card-text">
            Jakarta, CNN Indonesia -- The National Disaster Mitigation Agency (BNPB) found eight missing victims of the Cianjur earthquake today, Saturday (11/26).</a></p>
              <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-success"><b>REAL</b></button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Date Published: 27 Nov 2022</small>
          </div>
      </div>
      </div>
      <div class="col">
        <div class="card h-100" >
          <img src='/static/assets/news5.jpg' class="card-img-top" alt="..."  >
          <div class="card-body">
            <h5 class="card-title"><a  class="text-dark text-decoration-none" href="https://www.liputan6.com/showbiz/read/229045/heboh-kiamat-2012" target="_blank">Heboh Kiamat 2012</a> </h5>
            <p class="card-text">
              SEMUA akan berakhir. Pun alam semesta. Belakangan santer kabar akhir zaman jatuh pada 21 Desember 2012. Mulai dari ilmuwan, peramal, hingga selebriti ramai membicarakan angka cantik 21/12/2012. </a></p>
                <!-- <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-success"><b>REAL</b></button> -->

                <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-danger"><b>FAKE</b></button>
            </div>
            <div class="card-footer">
              <small class="text-muted">Date Published: 22 Feb 2009</small>
            </div>
        </div>
        </div>

        <div class="col">
          <div class="card h-100" >
            <img src='/static/assets/news3.jpg' class="card-img-top" alt="..."  >
            <div class="card-body">
              <h5 class="card-title"><a  class="text-dark text-decoration-none" href="https://edition.cnn.com/2022/11/26/football/german-soccer-fans-rainbow-colors-qatar-2022-world-cup-spt-intl/index.html" target="_blank">World Cup: Soccer fans stopped by security officials for wearing rainbow-colored items</a> </h5>
              <p class="card-text">
                Doha, Qatar (CNN) -The World Cup is well underway in Qatar, but issues surrounding LGBTQ+ rights for the Gulf state.</a></p>
                  <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-success"><b>REAL</b></button>
              </div>
              <div class="card-footer">
                <small class="text-muted">Date Published: 26 Nov 2022</small>
              </div>
          </div>
          </div>
        </div>
      </div>

  <!-- {% for title in headlines %}
    {% if title[6] == 'INVALID' or title[5] == 'INVALID' %}
    {% else %}
        <div class="col">
        <div class="card h-100" >
          <img src={{ title[4] }} class="card-img-top" alt="..."  >
          <div class="card-body">
            <h5 class="card-title">{{ title[1] }}</h5>
            <p class="card-text"><a href="{{ title[0] }}" style="color:black;  background-color: transparent; text-decoration: none;" target="_blank">{{ title[0] }}</a></p>
            {% if (title[5]) == 'REAL' %}
                <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-success"><b>{{title[5]}}</b></button>
              {% elif (title[5]) == 'FAKE' %}
                <button style="border-radius:40px;pointer-events:none;cursor:default;" type="button" class="btn btn-danger"><b>{{title[5]}}</b></button>
              {% endif %}
            </div>
            <div class="card-footer">
              <small class="text-muted">Date Published: {{title[6]}}</small>
            </div>
        </div>
        </div>

{% endif %}
{% endfor %} -->
<!-- </div>
</div> -->
{%endblock contentC%}